---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
} from "@/components/ui/card";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getDate() - new Date(a.data.pubDate).getDate()
);
---

<MainLayout title="Blog" mainClasses="w-full">
  <SectionLayout title="Blog">
    <p class="my-8 text-center flex items-center space-x-1 justify-center">
      Writing about <span class="font-mono mx-1"> Web </span> and
      <span class="font-mono mx-1">AI</span>.
      <ul class="grid md:grid-cols-2 gap-8 mt-8 list-none">
        {
          posts.map((post) => (
            <li>
              <Card className="p-6 bg-transparent hover:border-black hover:bg-zinc-50 cursor-pointer duration-300">
                <CardHeader>
                  <CardTitle>{post.data.title}</CardTitle>
                  <CardDescription>{post.data.description}</CardDescription>
                </CardHeader>
              </Card>
            </li>
          ))
        }
      </ul>
    </p>
  </SectionLayout>
</MainLayout>
