---
import MainLayout from "../../layouts/MainLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import PostsList from "@/components/PostsList.astro";
---

<MainLayout title="Blog">
  <SectionLayout>
    <h2 slot="title" class="text-center mt-0">Blog</h2>
    <p class="my-8 text-center flex items-center space-x-1 justify-center">
      Writing about <span class="font-mono mx-1"> Web </span> and
      <span class="font-mono mx-1">AI</span>.
      <!-- <PostsList /> -->
      <p class="text-center italic font-mono">Coming soon - stay tuned</p>
    </p>
  </SectionLayout>
</MainLayout>
