---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getDate() - new Date(a.data.pubDate).getDate()
);
---

<MainLayout title="Blog" mainClasses="w-full">
  <SectionLayout title="Blog">
    <p class="my-8 text-center flex items-center space-x-1 justify-center">
      Writing about <span class="italic px-1"> this </span> and <span
        class="font-extralight">that</span
      >.
    </p>
    <BlogCard post={posts[0]} />
    <ul class="grid md:grid-cols-2 gap-8 mt-8">
      {
        posts.slice(1).map((post) => (
          <li>
            <BlogCard post={post} />
          </li>
        ))
      }
    </ul>
  </SectionLayout>
</MainLayout>
