---
import Header from "../components/Header.astro";
import Portfolio from "../components/Portfolio.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Maximilian Zirps - Freelance front-end Developer">
  <div class="lg:my-12">
    <div>
      <Header />
    </div>
    <div class="flex items-center pt-24">
      <Portfolio />
    </div>
  </div>
</MainLayout>
