---
import "@fontsource-variable/raleway";
import "@fontsource-variable/mulish";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <title>Maximilian Zirps</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <style is:global>
      body {
        font-family: "Mulish Variable", sans-serif;
      }

      h1,
      h2 {
        font-family: "Raleway Variable", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="xl:mx-[10vw]">
      <div class="h-screen">
        <Nav />
        <Header />
      </div>
      <Services />
    </div>
    <Footer />
  </body>
</html>
