---
import "@fontsource-variable/exo-2";
import "@fontsource/palanquin/100.css";
import "@fontsource/palanquin/200.css";
import "@fontsource/palanquin/300.css";
import "@fontsource/palanquin/400.css";
import "@fontsource/palanquin/500.css";
import "@fontsource/palanquin/600.css";
import "@fontsource/palanquin/700.css";
import "@fontsource/merriweather/300.css";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/700.css";
import "@fontsource/merriweather/900.css";
import { Image } from "astro:assets";
import myImage from "../assets/me.png";
import teamImage from "../assets/undraw_engineering_team_a7n2.svg";
import appsImage from "../assets/undraw_website_ij0l.svg";
import TechIcons from "../components/TechIcons";
---

<html lang="en">
  <head>
    <title>Maximilian Zirps</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      body {
        font-family: "Palanquin", sans-serif;
      }
      h1 {
        font-family: "Exo 2 Variable", sans-serif, system-ui;
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Merriweather", serif;
      }
    </style>
  </head>
  <body>
    <header
      class="h-screen flex items-center justify-center lg:text-left bg-[url('/img/iphone2.png')] bg-cover bg-no-repeat
      bg-[center_left_4rem] lg:bg-none"
    >
      <div
        class="m-auto lg:bg-[url('/img/iphone.png')] bg-contain bg-no-repeat bg-right w-[90%] 2xl:w-auto p-2 lg:p-6"
      >
        <h1 class="text-5xl tracking-wide leading-tight text-gray-800 mb-6">
          Turning
          <div class="relative inline-block">
            <span class="font-semibold bg-white">Your Vision</span>
            <span
              class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-blue-700 to-cyan-300"
            ></span>
          </div>
          <br class="xl:hidden" />
          into Reality
        </h1>

        <div class="mt-6 hidden lg:block">
          <a
            href="#contact"
            class="inline-flex items-center border border-black py-2 px-4 rounded-sm text-lg font-semibold hover:bg-black hover:text-white transition duration-300"
          >
            Let's Get Started
          </a>
        </div>

        <p class="text-lg w-[75%] lg:w-2/5 lg:mt-16 leading-relaxed">
          I craft lightweight, fast, and adaptable solutions designed to make
          your vision work seamlessly. My approach ensures that your projects
          are not only efficient but also flexible, meeting the evolving needs
          of your business with precision and agility.
        </p>

        <div class="mt-16">
          <h2 class="text-2xl text-gray-800">Maximilian Zirps</h2>
          <p class="font-heading2 font-thin">Software Engineer</p>
        </div>

        <div class="mt-16">
          <a
            href="#contact"
            class="lg:hidden bottom-0 border border-black py-2 px-4 rounded-sm text-lg font-semibold"
          >
            Let's Get Started
          </a>
        </div>
      </div>
    </header>
    <section
      class="lg:h-screen flex items-center justify-center bg-gray-100 text-center lg:text-left"
    >
      <div class="m-auto w-[90%] 2xl:w-auto p-6">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl mb-2 text-gray-900">What I do</h1>
          <div class="h-1 w-20 bg-blue-700 m-auto lg:m-0"></div>
        </div>
        <div class="text-gray-600">
          <div class="container px-5 p-6 lg:py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
              <div class="md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg">
                  <Image
                    src={appsImage}
                    alt="A description of my image."
                    class="h-40 rounded w-full mb-6"
                  />
                  <h2 class="text-lg text-gray-900 font-medium mb-4">
                    Custom Web Applications
                  </h2>
                  <p class="leading-relaxed text-base">
                    I specialize in building dynamic, user-friendly web
                    applications tailored to your unique needs. From front-end
                    interfaces to back-end systems, I create scalable, secure,
                    and high-performance solutions that drive your business
                    forward. Whether you need a new web app or enhancements to
                    an existing one, I deliver reliable, clean code and a
                    seamless user experience.
                  </p>
                  <TechIcons classes="size-6 inline mr-2 mt-6" />
                </div>
              </div>
              <div class="md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg">
                  <Image
                    src={teamImage}
                    alt="A description of my image."
                    class="h-40 rounded w-full mb-6"
                  />
                  <h2 class="text-lg text-gray-900 font-medium mb-4">
                    Boost Your Team
                  </h2>
                  <p class="leading-relaxed text-base">
                    Need to enhance your team’s coding productivity and quality?
                    I provide hands-on support to development teams, assisting
                    with writing, optimizing, and debugging code. With expertise
                    in best practices and clean coding, I help your team tackle
                    complex tasks, fix issues faster, and improve overall code
                    quality.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="lg:h-screen flex items-center justify-center text-center lg:text-left"
    >
      <div class="m-auto w-[90%] 2xl:w-auto p-6">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl mb-2 text-gray-900">
            Latest Articles
          </h1>
          <div class="h-1 w-20 bg-blue-700 m-auto lg:m-0"></div>
        </div>
        <div class="text-gray-600 body-font overflow-hidden lg:ml-60">
          <div class="container px-5 p-6 lg:py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                  <h2
                    class="text-2xl font-medium text-gray-900 title-font mb-2"
                  >
                    Bitters hashtag waistcoat fashion axe chia unicorn
                  </h2>
                  <p class="leading-relaxed">
                    Glossier echo park pug, church-key sartorial biodiesel
                    vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf
                    moon party messenger bag selfies, poke vaporware kombucha
                    lumbersexual pork belly polaroid hoodie portland craft beer.
                  </p>
                  <a class="text-blue-800 inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                  <h2
                    class="text-2xl font-medium text-gray-900 title-font mb-2"
                  >
                    Meditation bushwick direct trade taxidermy shaman
                  </h2>
                  <p class="leading-relaxed">
                    Glossier echo park pug, church-key sartorial biodiesel
                    vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf
                    moon party messenger bag selfies, poke vaporware kombucha
                    lumbersexual pork belly polaroid hoodie portland craft beer.
                  </p>
                  <a class="text-blue-800 inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:flex-grow">
                  <h2
                    class="text-2xl font-medium text-gray-900 title-font mb-2"
                  >
                    Woke master cleanse drinking vinegar salvia
                  </h2>
                  <p class="leading-relaxed">
                    Glossier echo park pug, church-key sartorial biodiesel
                    vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf
                    moon party messenger bag selfies, poke vaporware kombucha
                    lumbersexual pork belly polaroid hoodie portland craft beer.
                  </p>
                  <a class="text-blue-800 inline-flex items-center mt-4"
                    >Learn More
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <section
        class="h-screen flex items-center justify-center text-center lg:text-left"
      >
        <div class="m-auto w-[90%] 2xl:w-auto p-6">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl mb-2 text-gray-900">Contact</h1>
            <div class="h-1 w-20 bg-blue-700 m-auto lg:m-0"></div>
          </div>
          <div class="text-gray-600 body-font relative">
            <div class="container px-5 p-6 lg:py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-12">
                <h1
                  class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
                >
                  Contact Us
                </h1>
                <Image
                  src={myImage}
                  alt="A description of my image."
                  width={300}
                  class="rounded-full m-auto"
                  hidden
                />
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                  Whatever cardigan tote bag tumblr hexagon brooklyn
                  asymmetrical gentrify.
                </p>
              </div>
              <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2">
                  <div class="p-2 w-1/2">
                    <div class="relative">
                      <label for="name" class="leading-7 text-sm text-gray-600"
                        >Name</label
                      >
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                      />
                    </div>
                  </div>
                  <div class="p-2 w-1/2">
                    <div class="relative">
                      <label for="email" class="leading-7 text-sm text-gray-600"
                        >Email</label
                      >
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                      />
                    </div>
                  </div>
                  <div class="p-2 w-full">
                    <div class="relative">
                      <label
                        for="message"
                        class="leading-7 text-sm text-gray-600">Message</label
                      >
                      <textarea
                        id="message"
                        name="message"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                      ></textarea>
                    </div>
                  </div>
                  <div class="p-2 w-full">
                    <button
                      class="flex mx-auto text-white bg-blue-700 border-0 py-2 px-8 focus:outline-none hover:bg-blue-800 rounded text-lg"
                      >Button</button
                    >
                  </div>
                  <div
                    class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center"
                  >
                    <a class="text-blue-500">example@email.com</a>
                    <p class="leading-normal my-5">
                      49 Smith St.
                      <br />Saint Cloud, MN 56301
                    </p>
                    <span class="inline-flex">
                      <a class="text-gray-500">
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                          ></path>
                        </svg>
                      </a>
                      <a class="ml-4 text-gray-500">
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                          ></path>
                        </svg>
                      </a>
                      <a class="ml-4 text-gray-500">
                        <svg
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24"
                        >
                          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                          ></rect>
                          <path
                            d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                          ></path>
                        </svg>
                      </a>
                      <a class="ml-4 text-gray-500">
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
                          ></path>
                        </svg>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
