---
import "@fontsource-variable/work-sans";
import "@fontsource/lato";
import "@fontsource/merriweather";
---

<html lang="en">
  <head>
    <title>Maximilian Zirps</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      body {
        font-family: "Lato", sans-serif, system-ui;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Merriweather", serif, system-ui;
      }
    </style>
  </head>
  <body>
    <header
      class="bg-gradient-to-b from-indigo-800 to-cyan-400 h-screen flex items-center justify-center text-center text-white"
    >
      <div class="mx-auto px-6">
        <h1 class="text-4xl md:text-5xl">
          Hello, I'm <span
            class="font-bold drop-shadow-lg tracking-wide leading-tight"
            >Maximilian Zirps</span
          >
        </h1>

        <p class="text-lg md:text-2xl mt-4 font-light">
          Freelance Fullstack Developer
        </p>

        <p
          class="text-lg md:text-xl mt-4 flex items-center justify-center space-x-2"
        >
          <span>Crafting</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-yellow-300"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
            ></path>
          </svg>
          <span>Lightweight, Fast, and Adaptable Solutions</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
          </svg>
          <span>Built for People.</span>
        </p>

        <a
          href="#contact"
          class="mt-8 inline-block bg-orange-500 text-white py-3 px-8 text-lg rounded-md shadow-md hover:scale-105 transition-transform"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 inline mr-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
            ></path>
          </svg>
          Let's Chat
        </a>
      </div>
    </header>

    <section id="contact" class="py-16 bg-none">
      <div class="container mx-auto px-4 text-center">
        <h2 class="text-4xl">Get in Touch</h2>
        <form
          action="#"
          method="post"
          class="contact-form mt-8 max-w-lg mx-auto"
        >
          <input
            type="text"
            name="name"
            placeholder="Your Name"
            class="w-full p-4 border border-gray-300"
          />
          <input
            type="email"
            name="email"
            placeholder="Your Email"
            class="w-full p-4 border border-gray-300 mt-4"
          />
          <input
            type="text"
            name="subject"
            placeholder="Subject"
            class="w-full p-4 border border-gray-300 mt-4"
          />
          <textarea
            name="message"
            placeholder="Your Message"
            rows="5"
            class="w-full p-4 border border-gray-300 mt-4"></textarea>
          <button
            type="submit"
            class="w-full text-white py-4 mt-4 transition inline-block bg-orange-500 g rounded-md shadow-md hover:bg-orange-600"
            >Send Message</button
          >
        </form>
      </div>
    </section>

    <footer class="py-8 bg-white text-slate-600 text-center">
      <p>&copy; 2024 Maximilian Zirps. All rights reserved.</p>
      <div class="mt-4">
        <a href="#" class="mx-2">LinkedIn</a>
        <a href="#" class="mx-2">GitHub</a>
        <a href="#" class="mx-2">Twitter</a>
      </div>
    </footer>
  </body>
</html>
