---
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getDate() - new Date(a.data.pubDate).getDate()
);
---

<div class="flex flex-col">
  <ul class="flex flex-col space-y-8">
    {
      posts.slice(0, 3).map((post) => (
        <li>
          <BlogCard post={post} />
        </li>
      ))
    }
  </ul>
  <div class="mx-auto mt-12">
    <a
      aria-label="Read more posts in my blog"
      href="/blog"
      class="text-2xl group relative block"
    >
      <span class="absolute inset-0 border-2 border-dashed border-black"></span>

      <div
        class="relative h-full transform items-end border-2 border-black bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
      >
        <p class="transition-opacity group-hover:relative p-6 px-12">
          Read More
        </p>
      </div>
    </a>
  </div>
</div>
