---
import { getCollection } from "astro:content";
import { buttonVariants } from "./ui/button";
import { cn } from "@/lib/utils";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getDate() - new Date(a.data.pubDate).getDate()
);
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="flex flex-col">
  <ul class="flex flex-col list-none space-y-6">
    {
      posts.slice(0, 3).map((post) => (
        <li>
          <Card>
            <CardHeader>
              <CardTitle>{post.data.title}</CardTitle>
              <CardDescription>{post.data.description}</CardDescription>
            </CardHeader>
          </Card>
        </li>
      ))
    }
  </ul>
  <a
    aria-label="Read more posts in my blog"
    href="/blog"
    class={cn(buttonVariants({ size: "lg" }), "w-fit mt-8 mx-auto")}
  >
    Read More
  </a>
</div>
