---
import { Image } from "astro:assets";
import myImage from "../assets/me.png";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="Contact">
  <p
    class="lg:w-2/3 mx-auto leading-relaxed text-base text-center mb-12"
    hidden
  >
    Your tech journey starts with a message — reach out to explore solutions,
    ask questions, or just get the conversation started!
  </p>
  <div class="md:w-2/3 mx-auto">
    <div
      class="flex flex-wrap flex-col md:flex-row items-center -m-2 text-center"
    >
      <div class="p-2 w-full md:w-1/2">
        <div class="relative">
          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
      </div>
      <div class="p-2 w-full md:w-1/2">
        <div class="relative">
          <label for="email" class="leading-7 text-sm text-gray-600"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
      </div>
      <div class="p-2 w-full">
        <div class="relative">
          <label for="message" class="leading-7 text-sm text-gray-600"
            >Message</label
          >
          <textarea
            id="message"
            name="message"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
          ></textarea>
        </div>
      </div>
      <div class="p-2 w-full">
        <button
          class="border-black inline-flex items-center border py-2 px-8 rounded text-lg hover:bg-black hover:text-white transition duration-300"
          >Send</button
        >
      </div>
    </div>
  </div>
</SectionLayout>
