---
const { href, title } = Astro.props;
---

<a href={href} class="group relative block w-full h-48 text-center">
  <span class="absolute inset-0 border-2 border-dashed border-black"></span>

  <div
    class="relative flex h-full transform items-end border-2 border-black bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
  >
    <div class="p-4 flex flex-col items-center w-full justify-center h-full">
      <slot />
      <span class="mt-2 tracking-wide">{title}</span>
    </div>
  </div>
</a>
