---
import { Separator } from "@/components/ui/separator";
import { cn } from "@/lib/utils";
import { Github, Linkedin, Mail } from "lucide-react";
import { buttonVariants } from "./ui/button";
---

<footer class="text-zinc-500">
  <Separator />
  <div
    class="flex flex-col md:grid md:grid-cols-3 py-8 text-sm space-y-4 md:space-y-0 md:px-4 lg:px-0"
  >
    <div class="flex flex-col items-center md:items-start space-y-1">
      <span
        >Built with <a
          href="https://astro.build/"
          class="text-zinc-500 hover:text-zinc-900 underline">Astro</a
        >
      </span>
      <span>© Maximilian Zirps 2024</span>
    </div>
    <div class="flex items-center justify-center space-x-4">
      <a
        aria-label="Visit my github profile."
        href="https://github.com/maxzirps"
        target="_blank"
        rel="noopener noreferrer"
        class={cn(
          buttonVariants({ variant: "link" }),
          "p-0 justify-start lg:justify-center"
        )}
      >
        <Github />
      </a>
      <Separator orientation="vertical" className="h-1/2" />
      <a
        aria-label="Visit my linkedin profile."
        href="https://www.linkedin.com/in/maximilian-zirps/"
        target="_blank"
        rel="noopener noreferrer"
        class={cn(
          buttonVariants({ variant: "link" }),
          "p-0 justify-start lg:justify-center"
        )}
      >
        <Linkedin />
      </a>
      <Separator orientation="vertical" className="h-1/2" />
      <a
        aria-label="Send me an email."
        href="mailto:hello@maxzirps.at"
        class={cn(
          buttonVariants({ variant: "link" }),
          "p-0 justify-start lg:justify-center"
        )}
      >
        <Mail />
      </a>
    </div>
    <div class="text-right flex flex-col items-center md:items-end space-y-1">
      <span>
        <a
          aria-label="Read about my privacy policy"
          class="cursor-pointer text-zinc-500 hover:text-zinc-900 transition duration-500 underline"
          href="/privacy-policy"
        >
          Privacy Policy
        </a>
      </span>
      <span>
        <a
          aria-label="Read about my legal notice"
          class="cursor-pointer text-zinc-500 hover:text-zinc-900 transition duration-500 underline"
          href="/legal-notice"
        >
          Legal Notice
        </a>
      </span>
    </div>
  </div>
</footer>
