---

---

<footer>
  <div
    class="border-t border-gray-300 text-center max-w-5xl mx-auto py-8 text-gray-400 text-sm mt-16 sm:flex justify-between sm:px-12"
  >
    <div class="md:text-left flex flex-col justify-end">
      <p>
        <a
          class="cursor-pointer hover:text-sky-600 transition duration-300"
          href="/datenschutz"
        >
          Privacy policy
        </a>
      </p>
      <p>© Maximilian Zirps 2024</p>
    </div>
    <p class="sm:text-right mt-2 sm:mt-0">
      Maximilian Zirps e.U.
      <br />
      Seitenstettengasse 5/37 A-1010 Vienna
      <br />
      FN 634463i
    </p>
  </div>
</footer>
