---

---

<footer>
  <div
    class="border-t border-gray-200 text-center w-4/5 sm:w-3/5 mx-auto py-4 text-gray-300 text-sm mt-16 sm:mt-0"
  >
    <p>
      Maximilian Zirps e.U. <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4 inline hidden sm:inline"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9 20.247 6-16.5"></path>
      </svg>
      <br class="sm:hidden" />
      Seitenstettengasse 5/37 A-1010 Vienna <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4 inline hidden sm:inline"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9 20.247 6-16.5"></path>
      </svg>
      <br class="sm:hidden" />
      FN 634463i
    </p>
  </div>
</footer>
