---

---

<footer>
  <div
    class="border-t border-gray-300 text-center max-w-5xl mx-auto py-8 text-gray-400 text-sm mt-16 lg:flex justify-between items-center"
  >
    <div class="sm:text-left">
      <p>© Maximilian Zirps 2024</p>
      <p>
        Illustration by <a
          href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a
        > from <a href="https://icons8.com/illustrations">Ouch!</a>
      </p>
    </div>
    <p class="sm:text-right mt-4 sm:mt-0">
      Maximilian Zirps e.U.
      <br />
      Seitenstettengasse 5/37 A-1010 Vienna
      <br />
      FN 634463i
    </p>
  </div>
</footer>
