---
import { Separator } from "@/components/ui/separator";
---

<footer>
  <Separator />
  <div
    class="text-center py-4 mb-2 text-sm sm:flex justify-between px-8 lg:px-0 space-y-4 md:space-y-0"
  >
    <div class="text-left flex flex-col">
      <span>
        <a
          aria-label="Read about my privacy policy"
          class="cursor-pointer text-gray-600 hover:text-zinc-900 transition duration-500"
          href="/privacy-policy"
        >
          Privacy policy
        </a>
      </span>
      <span
        >Built with <a
          href="https://astro.build/"
          class="text-gray-600 hover:text-zinc-900">Astro</a
        >
      </span>
      <span>© Maximilian Zirps 2024</span>
    </div>
    <Separator className="md:hidden" />
    <div class="text-right flex flex-col">
      <span>Maximilian Zirps e.U.</span>
      <span> Seitenstettengasse 5/37 A-1010 Vienna</span>
      <span>FN 634463i</span>
    </div>
  </div>
</footer>
