<footer>
  <span class="flex items-center">
    <span class="h-px flex-1 bg-black"></span>
  </span>
  <div class="text-center py-4 mb-2 text-sm sm:flex justify-between">
    <div class="md:text-left flex flex-col">
      <span>
        <a
          aria-label="Read about my privacy policy"
          class="cursor-pointer text-gray-600 hover:text-zinc-900 transition duration-500"
          href="/privacy-policy"
        >
          Privacy policy
        </a>
      </span>
      <span
        >Built with <a
          href="https://astro.build/"
          class="text-gray-600 hover:text-zinc-900">Astro</a
        >
      </span>
      <span>© Maximilian Zirps 2024</span>
    </div>
    <p class="sm:text-right mt-2 sm:mt-0 mb-0">
      Maximilian Zirps e.U.
      <br />
      Seitenstettengasse 5/37 A-1010 Vienna
      <br />
      FN 634463i
    </p>
  </div>
</footer>
