---
import { Image } from "astro:assets";
import me5 from "../assets/me5.png";
---

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes expandX {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes fadeInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<header class="grow flex flex-col sm:flex-row sm:justify-center">
  <div class="sm:w-1/2 sm:pl-12 h-[50vh] px-8">
    <h2
      class="text-4xl xl:text-5xl tracking-wide leading-tight mb-6 text-gray-800 mt-6"
    >
      Frontend with a smile
      <svg
        viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg"
        class="w-12 h-12 inline-block text-sky-500 rotate-12"
        fill="currentColor"
        stroke="currentColor"
      >
        <circle cx="60" cy="80" r="10"></circle>
        <circle cx="140" cy="80" r="10"></circle>
        <path
          d="M 50 140 Q 100 180 150 140"
          stroke-width="10"
          fill="transparent"></path>
      </svg>
    </h2>

    <ul class="space-y-1">
      <li class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-sky-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>Intuitive interface</span>
      </li>
      <li class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-sky-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>High-quality code</span>
      </li>
      <li class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-sky-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>Much coffee</span>
      </li>
    </ul>

    <p class="mt-4 text-2xl tracking-wide">
      That simple<span class="text-sky-500 text-4xl">.</span>
    </p>

    <div class="mt-16">
      <a
        href="mailto:hello@maxzirps.at"
        class="border-black inline-flex items-center border py-4 px-8 sm:p-4 sm:pr-8 rounded-full sm:rounded-r-full text-lg hover:bg-black hover:text-white transition duration-300"
      >
        Let's get started
      </a>
    </div>
  </div>
  <div class="w-full h-full mt-16 sm:w-1/2">
    <Image
      src={me5}
      alt="Picture of Maximilian Zirps"
      class="pt-4 pl-4 bg-gradient-to-b from-cyan-200 to-sky-500 rounded-r-full float-left"
    />
  </div>
</header>
