---
import { Image } from "astro:assets";
import iphoneIsometric from "../assets/iphones.png";
---

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes expandX {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes fadeInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<header
  class="md:h-[90vh] flex items-center justify-center lg:text-left bga-[url('/img/iphone2.png')] bg-cover bg-no-repeat
bg-[center_left_4rem] lg:bg-none p-6 text-center"
>
  <div
    class="m-auto lg:bg-[url('/img/iphone.png')] bg-contain bg-no-repeat bg-right md:w-[80%] 2xl:w-auto p-2 lg:p-6"
  >
    <Image
      id="iphone-img"
      src={iphoneIsometric}
      alt="iPhone Mockups"
      class="py-4 animate-[fadeIn_0.5s_ease-in-out]"
    />
    <span
      class="text-5xl tracking-wide leading-tight mb-6 text-gray-800 md:mb-6 dark:text-white mt-6"
    >
      <div class="animate-[fadeInFromBottom_0.5s_ease-in-out]">Turn</div>
      <div class="relative inline-block">
        <div
          class="font-semibold bg-white dark:bg-transparent animate-[fadeInFromBottom_0.5s_ease-in-out]"
        >
          Your Vision
        </div>
        <span
          class="absolute -bottom-1 left-0 h-1 bg-gradient-to-r from-blue-700 to-cyan-300 animate-[expandX_200ms_cubic-bezier(0.42,_0,_0.58,_1)_0.8s_forwards]"
        ></span>
      </div>
      <br class="xl:hidden" />
      <div class="animate-[fadeInFromBottom_0.5s_ease-in-out]">
        into Reality
      </div>
    </span>
    <h2
      class="text-2xl tracking-widest leading-tight text-gray-700 mb-6 dark:text-slate-50 hidden md:display"
    >
      Lightweight. Fast. Adaptable.
    </h2>

    <div class="mt-16 hidden lg:block">
      <a
        href="#contact"
        class="border-black inline-flex items-center border py-2 px-4 rounded-sm text-lg hover:bg-black hover:text-white transition duration-300 dark:border-slate-100 dark:hover:bg-white dark:hover:text-black"
      >
        Let's Get Started
      </a>
    </div>

    <div
      class="mt-16 md:mt-16 animate-[fadeInFromBottom_0.5s_ease-in-out_1.2s_forwards] opacity-0"
    >
      <a
        href="#contact"
        class="md:hidden py-6 px-12 rounded-full text-lg font-semibold bg-black text-white"
      >
        Let's Get Started
      </a>
    </div>
  </div>
</header>
