---
import { Image } from "astro:assets";
import programmerImg from "../assets/haze-programmer.png";
---

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes expandX {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes fadeInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<header
  class="md:h-[80vh] flex items-center justify-center text-center xl:text-left"
>
  <div>
    <div class="w-[80%] mx-auto xl:w-full">
      <Image
        src={programmerImg}
        alt="Programmer"
        class="py-4 animate-[fadeIn_0.5s_ease-in-out] xl:hidden"
      />
    </div>

    <span
      class="text-4xl xl:text-5xl tracking-wide leading-tight mb-6 text-gray-800 xl:mb-6 mt-6"
    >
      <div class="animate-[fadeInFromBottom_0.5s_ease-in-out]">
        Lean Solutions powering
      </div>
      <div class="relative inline-block">
        <div
          class="font-semibold bg-white animate-[fadeInFromBottom_0.5s_ease-in-out] pb-2"
        >
          Your Digital Success
        </div>
        <span
          class="absolute -bottom-1 left-0 h-1 bg-gradient-to-r from-blue-700 to-cyan-300 animate-[expandX_200ms_cubic-bezier(0.42,_0,_0.58,_1)_0.8s_forwards]"
        ></span>
      </div>
    </span>

    <div
      class="mt-16 hidden xl:block animate-[fadeInFromBottom_0.5s_ease-in-out_1.2s_forwards] opacity-0"
    >
      <a
        href="#contact"
        class="border-black inline-flex items-center border py-4 px-8 rounded-full text-lg hover:bg-black hover:text-white transition duration-300"
      >
        Let's Get Started
      </a>
    </div>

    <div
      class="mt-16 xl:hidden animate-[fadeInFromBottom_0.5s_ease-in-out_1.2s_forwards] opacity-0"
    >
      <a
        href="#contact"
        class="py-6 px-12 rounded-full text-lg font-semibold bg-black text-white"
      >
        Let's Get Started
      </a>
    </div>
  </div>
  <Image
    src={programmerImg}
    alt="Programmer"
    class="py-4 animate-[fadeIn_0.5s_ease-in-out] hidden xl:block"
  />
</header>
