---
import { Image } from "astro:assets";
import me from "../assets/me.png";
---

<style>
  #circle1 {
    opacity: 0;
    animation: fadeIn 0.1s ease-out forwards 0.5s;
  }

  #circle2 {
    opacity: 0;
    animation: fadeIn 0.1s ease-out forwards 0.7s;
  }

  .svg-path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 0.7s ease-out forwards 1s;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>

<header
  class="grow flex flex-col md:flex-row max-w-5xl px-4 mx-auto justify-between sm:px-12 lg:my-12"
>
  <div class="text-center md:text-left p-12 sm:p-0 md:w-1/2">
    <h2
      class="text-4xl lg:text-6xl font-semibold tracking-wide leading-tight mb-6 text-gray-800"
    >
      Front-end with a <span class="text-nowrap"
        >smile
        <svg
          viewBox="0 0 200 200"
          xmlns="http://www.w3.org/2000/svg"
          class="size-12 sm:size-16 inline-block text-sky-600 rotate-12"
          fill="currentColor"
          stroke="currentColor"
        >
          <g>
            <circle cx="60" cy="80" r="10" id="circle1"></circle>
            <circle cx="140" cy="80" r="10" id="circle2"></circle>
            <path
              d="M 50 140 Q 100 180 150 140"
              stroke-width="10"
              fill="transparent"
              class="svg-path"></path>
          </g>
        </svg></span
      >
    </h2>
    <ul
      class="space-y-2 py-4 flex flex-col items-start w-fit mx-auto md:w-full"
    >
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-sky-600 inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>No-fuss solutions</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-sky-600 inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>Charming interfaces</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-sky-600 inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"></path>
        </svg>
        <span>High-quality code</span>
      </li>
    </ul>

    <p class="mt-8 text-2xl tracking-widest">
      That simple<span class="text-sky-600 text-4xl">.</span>
    </p>
    <div class="mt-16">
      <a
        href="mailto:hello@maxzirps.at"
        class="inline-flex items-center py-4 px-8 bg-black text-white rounded-full text-lg tracking-wide transition duration-300 bg-gradient-to-br from-sky-500 to-sky-600 hover:from-sky-600 hover:to-sky-500 transform hover:scale-105"
      >
        Let's get started
      </a>
    </div>
  </div>
  <div
    class="flex items-end border-b-2 border-blue-300 max-w-48 md:w-1/3 md:max-w-none mx-auto"
  >
    <Image
      src={me}
      alt="Picture of Maximilian Zirps"
      class="w-full aspect-[315/469] bg-[url('/img/bg_me.svg')] bg-contain bg-no-repeat bg-center"
    />
  </div>
</header>
