<div
  class="flex flex-row py-8 shadow-md sm:shadow-none mx-auto justify-between bg-white sm:bg-transparent w-full mx-auto px-8 lg:px-24"
>
  <a
    class="flex items-center cursor-pointer prose lg:prose-lg font-medium tracking-wide text-zinc-900"
    href="/"
  >
    Maximilian Zirps
  </a>
  <button class="lg:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>

  <nav class="hidden lg:flex items-center justify-end space-x-4">
    <div class="relative">
      <a
        class="prose lg:prose-lg peer text-zinc-900"
        aria-label="Visit my blog"
        href="/blog"
      >
        Blog
      </a>
      <div
        class="absolute w-full top-6 opacity-0 peer-hover:opacity-100 transition-opacity duration-200 border-b-2 border-dashed border-zinc-800 mt-2"
      >
      </div>
    </div>
    <div class="relative">
      <a
        class="prose lg:prose-lg peer text-zinc-900"
        href="https://github.com/maxzirps"
        aria-label="Check out my other projects on github."
      >
        Projects
      </a>
      <div
        class="absolute w-full top-6 opacity-0 peer-hover:opacity-100 transition-opacity duration-200 border-b-2 border-dashed border-zinc-800 mt-2"
      >
      </div>
    </div>
    <div class="relative">
      <a
        class="prose lg:prose-lg peer text-zinc-900"
        href="/about"
        aria-label="Visit my GitHub profile"
      >
        About
      </a>
      <div
        class="absolute w-full top-6 opacity-0 peer-hover:opacity-100 transition-opacity duration-200 border-b-2 border-dashed border-zinc-800 mt-2"
      >
      </div>
    </div>
  </nav>
</div>
