---
import { Button } from "./ui/button";
---

<script>
  document.addEventListener("astro:page-load", () => {
    const mobileNavigation = document.querySelector("[data-mobile-navigation]");

    const toggleMenu = () => {
      document.body.classList.toggle("overflow-y-hidden");
      mobileNavigation?.classList.toggle("invisible");
      mobileNavigation?.classList.toggle("opacity-0");
    };
    const menuButtons = document.querySelectorAll("[data-menu-button]");
    menuButtons.forEach((menuButton) =>
      menuButton.addEventListener("click", () => toggleMenu())
    );

    // Close the mobile navigation if the user clicks outside of it
    mobileNavigation?.addEventListener("click", (e) => {
      if (e.target === mobileNavigation) {
        toggleMenu();
      }
    });
  });
</script>

<div
  class="flex flex-row py-8 mx-auto justify-between w-full mx-auto px-8 lg:px-0"
>
  <a class="flex items-center cursor-pointer" href="/">
    <Button variant="link" className="text-lg p-0 hover:no-underline"
      >Maximilian Zirps</Button
    ></a
  >
  <button class="lg:hidden" data-menu-button aria-label="Open Menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>

  <!-- Desktop navigation -->
  <nav class="hidden lg:flex items-center justify-end space-x-4">
    <a href="/blog" aria-label="Visit my blog">
      <Button variant="link" className="text-lg p-0 font-normal">Blog</Button
      ></a
    >

    <a href="/projects" aria-label="Check out my other projects on github.">
      <Button variant="link" className="text-lg p-0 font-normal"
        >Projects</Button
      ></a
    >
    <a href="/about" aria-label="Visit my GitHub profile">
      <Button variant="link" className="text-lg p-0 font-normal">About</Button
      ></a
    >
  </nav>

  <!-- Mobile navigation overlay -->
  <nav
    class="absolute inset-0 bg-white z-10 flex flex-col items-center justify-center space-y-4 invisible opacity-0 transition-opacity duration-500 h-screen w-screen"
    data-mobile-navigation
  >
    <button data-menu-button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 absolute top-0 right-0 m-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"></path>
      </svg>
    </button>

    <a href="/blog" aria-label="Visit my blog">
      <Button variant="link" className="text-lg font-normal">Blog</Button></a
    >
    <a href="/projects" aria-label="Check out my other projects on github.">
      <Button variant="link" className="text-lg font-normal">Projects</Button
      ></a
    >
    <a href="/about" aria-label="Visit my GitHub profile">
      <Button variant="link" className="text-lg font-normal">About</Button></a
    >
  </nav>
</div>
