---
import ThemeIcon from "./ThemeIcon.astro";
---

<script>
  const hamburger = document.getElementById("hamburger");
  const menu = document.getElementById("menu");
  const close = document.getElementById("close");

  hamburger.addEventListener("click", () => {
    menu.classList.add("menu-open");
    document.body.style.overflow = "hidden"; // Prevent scrolling
  });

  close.addEventListener("click", () => {
    menu.classList.remove("menu-open");
    document.body.style.overflow = "auto"; // Restore scrolling
  });
</script>

<style>
  /* Add custom styles for transitions */
  .overlay {
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  .overlay-enter {
    opacity: 0;
  }
  .overlay-enter-active {
    opacity: 1;
  }
  .overlay-exit {
    opacity: 1;
  }
  .overlay-exit-active {
    opacity: 0;
  }
  .menu {
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }
  .menu-open {
    transform: translateX(0);
  }
</style>
<>
  <div
    id="menu"
    class="fixed inset-0 text-gray-900 transform transition-transform menu z-40 bg-white py-9 p-5"
  >
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-bold"></h1>
      <button id="close" class="text-3xl"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-12"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <nav class="flex flex-col items-center justify-center h-full">
      <a href="#" class="text-2xl mb-4">Home</a>
      <a href="#" class="text-2xl mb-4">About</a>
      <a href="#" class="text-2xl mb-4">Services</a>
      <a href="#" class="text-2xl">Contact</a>
    </nav>
  </div>
  <div class="py-9 lg:py-12 container mx-auto p-5 flex flex-row items-center">
    <a class="flex items-center text-gray-900 dark:text-white cursor-pointer">
      <h1 class="text-primary text-2xl">Maximilian Zirps</h1>
    </a>
    <div class="grow flex items-center flex-row justify-end">
      <ThemeIcon />
      <button id="hamburger">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="size-12 ml-2"
        >
          <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="hidden md:display">
    <nav
      class="md:ml-auto flex items-center text-base justify-center dark:text-zinc-50"
    >
      <a class="mr-5 hover:text-gray-900 dark:hover:text-zinc-50 cursor-pointer"
        >Services</a
      >
      <a class="mr-5 hover:text-gray-900 dark:hover:text-zinc-50 cursor-pointer"
        >Blog</a
      >
      <a class="mr-5 hover:text-gray-900 dark:hover:text-zinc-50 cursor-pointer"
        >Contact</a
      >
    </nav>
    <div
      class="flex items-center border-l border-slate-200 ml-2 pl-4 dark:border-cyan-200"
    >
      <ThemeIcon />
    </div>
  </div>
</>
