---
import { getCollection } from "astro:content";

let posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getDate() - new Date(a.data.pubDate).getDate()
);

const { nrOfPosts } = Astro.props;
if (nrOfPosts) {
  posts = posts.slice(0, nrOfPosts);
}

import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<ul class="flex flex-col list-none space-y-6 mx-0 my-6">
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.id}`}>
          <Card>
            <CardHeader>
              <CardTitle>{post.data.title}</CardTitle>
              <CardDescription>{post.data.description}</CardDescription>
            </CardHeader>
          </Card>
        </a>
      </li>
    ))
  }
</ul>
