---
import { getCollection } from "astro:content";
import { cn } from "@/lib/utils";
import { buttonVariants } from "./ui/button";
import { ArrowUpRight, MoveUpRight } from "lucide-react";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const projects = await getCollection("projects");
---

<div class="flex flex-col">
  <ul class="list-none grid grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <li>
          <Card className="h-56">
            <CardHeader>
              <CardTitle className="flex">
                {project.data.title}
                <ArrowUpRight strokeWidth={1} className="ml-1 text-zinc-500" />
              </CardTitle>
              <CardDescription className="text-justify">
                {project.data.description}
              </CardDescription>
            </CardHeader>
          </Card>
        </li>
      ))
    }
  </ul>
  <a
    aria-label="See other projects"
    href="/projects"
    class={cn(buttonVariants({ size: "lg" }), "w-fit mt-8 mx-auto")}
  >
    See other projects
  </a>
</div>
