---
import { Image } from "astro:assets";
import teamImage from "../assets/team.svg";
import websiteImage from "../assets/website.svg";
import TechIcons from "./TechIcons.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="What I do">
  <div class="flex flex-wrap space-y-12">
    <div
      class="flex flex-col space-y-12 justify-center items-center xl:space-x-4 xl:flex-row xl:space-y-0"
    >
      <div class="bg-gray-100 p-6 rounded-lg h-full lg:w-1/2">
        <Image
          src={websiteImage}
          alt="Image of website"
          class="h-40 rounded w-full mb-6"
        />

        <h2 class="text-lg text-gray-900 font-medium mb-4 text-center">
          Effortles Frontend Solutions
        </h2>
        <p class="leading-relaxed text-base text-justify">
          I develop custom frontend web applications focused on simplicity and
          performance. My work ensures that your application is intuitive,
          responsive, and optimized for all devices. I also provide ongoing
          support to maintain a seamless user experience.
        </p>
      </div>
      <div class="bg-gray-100 p-6 rounded-lg h-full lg:w-1/2">
        <Image
          src={teamImage}
          alt="Image of a team"
          class="h-40 rounded w-full mb-6"
        />

        <h2 class="text-lg text-gray-900 font-medium mb-4 text-center">
          Boost Your Team
        </h2>
        <p class="leading-relaxed text-base text-justify">
          Need to enhance your team's coding productivity and quality? I provide
          hands-on support to development teams, assisting with writing,
          optimizing, and debugging code. With expertise in best practices and
          clean coding, I help your team tackle complex tasks, fix issues
          faster, and improve overall code quality.
        </p>
      </div>
    </div>
    <div class="text-center mx-auto">
      <p class="text-gray-900 mb-2">Crafted with business-proven tools</p>
      <div>
        <TechIcons classes="size-6 inline mr-2" />
      </div>
    </div>
  </div>
</SectionLayout>
