---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/montserrat";
const { title, mainClasses } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta
      name="description"
      content="Got an idea for a website or app? I'm here to help you build it, blending front-end development and design to make it shine. Let's talk and make your project happen!"
    />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta
      name="”keywords”"
      content="react, frontend, frontend developer, freelance, astro, maxzirps"
    />
    <style is:global>
      body {
        font-family: "Montserrat Variable", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="flex flex-col h-screen max-w-5xl mx-auto">
      <Nav />
      <main
        class=`flex flex-col grow mx-auto px-8 lg:px-24 ${mainClasses || ''}`
      >
        <slot />
      </main>
      <div class="mt-12"></div>
      <Footer />
    </div>
  </body>
</html>
