---
const { title } = Astro.props;
---

<section class="sm:mx-[5vw] p-5 mt-20">
  <div class="mb-6 sm:pb-12 md:pb-0 xl:mb-12">
    <h2
      class="text-3xl xl:text-2xl mb-2 text-gray-900 text-center xl:text-left"
    >
      {title}
    </h2>
    <div class="h-1 w-20 bg-blue-700 m-auto xl:m-0"></div>
  </div>
  <div class="text-gray-600 body-font relative">
    <div class="container md:px-5 md:p-6 mx-auto container px-5 p-6">
      <slot />
    </div>
  </div>
</section>
